#### Importing the neccessary libraries and dependencies

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\abiol\.conda\envs\nycpayrollenv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\abiol\.conda\envs\nycpayrollenv\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abiol\.conda\envs\nycpayrollenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\abiol\.conda\envs\nycpayrollenv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\abiol\.conda\envs\nycpayrollenv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\abiol\.conda\envs\nycpayrollenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
#Import libraries
import pandas as pd 
from sqlalchemy import create_engine
from pyspark.sql.functions import lit
# Import PySpark libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, trim, to_date

# Initialize a Spark session
spark = SparkSession.builder \
    .appName("NYC Payroll ETL") \
    .getOrCreate()

Py4JJavaError: An error occurred while calling None.org.apache.spark.api.java.JavaSparkContext.
: org.apache.spark.SparkException: Invalid Spark URL: spark://HeartbeatReceiver@KUNCE_AF:50423
	at org.apache.spark.rpc.RpcEndpointAddress$.apply(RpcEndpointAddress.scala:66)
	at org.apache.spark.rpc.netty.NettyRpcEnv.asyncSetupEndpointRefByURI(NettyRpcEnv.scala:140)
	at org.apache.spark.rpc.RpcEnv.setupEndpointRefByURI(RpcEnv.scala:102)
	at org.apache.spark.rpc.RpcEnv.setupEndpointRef(RpcEnv.scala:110)
	at org.apache.spark.util.RpcUtils$.makeDriverRef(RpcUtils.scala:36)
	at org.apache.spark.executor.Executor.<init>(Executor.scala:301)
	at org.apache.spark.scheduler.local.LocalEndpoint.<init>(LocalSchedulerBackend.scala:64)
	at org.apache.spark.scheduler.local.LocalSchedulerBackend.start(LocalSchedulerBackend.scala:132)
	at org.apache.spark.scheduler.TaskSchedulerImpl.start(TaskSchedulerImpl.scala:235)
	at org.apache.spark.SparkContext.<init>(SparkContext.scala:599)
	at org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:53)
	at java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:502)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:486)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:238)
	at py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
	at py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1583)

In [3]:
from pyspark.sql import SparkSession

# Stop any existing session
from pyspark import SparkContext
if SparkContext._active_spark_context:
    SparkContext._active_spark_context.stop()

spark = SparkSession.builder \
    .appName("NYC Payroll ETL") \
    .master("local[*]") \
    .getOrCreate()

Py4JJavaError: An error occurred while calling None.org.apache.spark.api.java.JavaSparkContext.
: org.apache.spark.SparkException: Invalid Spark URL: spark://HeartbeatReceiver@KUNCE_AF:50583
	at org.apache.spark.rpc.RpcEndpointAddress$.apply(RpcEndpointAddress.scala:66)
	at org.apache.spark.rpc.netty.NettyRpcEnv.asyncSetupEndpointRefByURI(NettyRpcEnv.scala:140)
	at org.apache.spark.rpc.RpcEnv.setupEndpointRefByURI(RpcEnv.scala:102)
	at org.apache.spark.rpc.RpcEnv.setupEndpointRef(RpcEnv.scala:110)
	at org.apache.spark.util.RpcUtils$.makeDriverRef(RpcUtils.scala:36)
	at org.apache.spark.executor.Executor.<init>(Executor.scala:301)
	at org.apache.spark.scheduler.local.LocalEndpoint.<init>(LocalSchedulerBackend.scala:64)
	at org.apache.spark.scheduler.local.LocalSchedulerBackend.start(LocalSchedulerBackend.scala:132)
	at org.apache.spark.scheduler.TaskSchedulerImpl.start(TaskSchedulerImpl.scala:235)
	at org.apache.spark.SparkContext.<init>(SparkContext.scala:599)
	at org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:53)
	at java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:502)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:486)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:238)
	at py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
	at py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1583)

In [ ]:
spark

### Data Extraction

In [ ]:
#extract and convert the cvs into dataframe using spark
AgencyMaster_df = spark.read.csv(r'C:\Users\abiol\OneDrive\Desktop\10ANALYTICS DATA ENGINEERING\NYC PAYROLL PROJECT\NYC-PAYROLL\datasets\AgencyMaster.csv', header=True, inferSchema=True)
EmpMaster_df = spark.read.csv(r'datasets\EmpMaster.csv', header=True, inferSchema=True)
TitleMaster_df = spark.read.csv(r'datasets\TitleMaster.csv', header=True, inferSchema=True)

In [ ]:
AgencyMaster_df.show(5)
EmpMaster_df.show(5)
TitleMaster_df.show(5)

+--------+--------------------+
|AgencyID|          AgencyName|
+--------+--------------------+
|    2001|ADMIN FOR CHILDRE...|
|    2002|ADMIN TRIALS AND ...|
|    2003| BOARD OF CORRECTION|
|    2004|   BOARD OF ELECTION|
|    2005|BOARD OF ELECTION...|
+--------+--------------------+
only showing top 5 rows

+----------+--------+---------+
|EmployeeID|LastName|FirstName|
+----------+--------+---------+
|    100001|  AACHEN|    DAVID|
|    100002|  AACHEN|   MONICA|
|    100003|  AADAMS|  LAMMELL|
|    100004|   AADIL|     IRIS|
|    100005|  AALAAM|     AMIR|
+----------+--------+---------+
only showing top 5 rows

+---------+--------------------+
|TitleCode|    TitleDescription|
+---------+--------------------+
|    40001|*ADM SCHOOL SECUR...|
|    40002|*ADMIN SCHL SECUR...|
|    40003|    *AGENCY ATTORNEY|
|    40004|*ASSISTANT ADVOCA...|
|    40005|*ASSOCIATE EDUCAT...|
+---------+--------------------+
only showing top 5 rows

In [ ]:
#checking for the right datatype for each column in various dataframes
AgencyMaster_df.printSchema()
EmpMaster_df.printSchema()
TitleMaster_df.printSchema()

root
 |-- AgencyID: integer (nullable = true)
 |-- AgencyName: string (nullable = true)

root
 |-- EmployeeID: integer (nullable = true)
 |-- LastName: string (nullable = true)
 |-- FirstName: string (nullable = true)

root
 |-- TitleCode: integer (nullable = true)
 |-- TitleDescription: string (nullable = true)

In [ ]:
#Checking for missing values in the dataframe
from pyspark.sql.functions import col, count, when

AgencyMaster_df.select(
    [count(when(col(c).isNull(), c)).alias(c) for c in AgencyMaster_df.columns]
).show()

+--------+----------+
|AgencyID|AgencyName|
+--------+----------+
|       0|         0|
+--------+----------+

In [ ]:
#Checking for missing values in the dataframe
EmpMaster_df.select(
    [count(when(col(c).isNull(), c)).alias(c) for c in EmpMaster_df.columns]
).show()

+----------+--------+---------+
|EmployeeID|LastName|FirstName|
+----------+--------+---------+
|         0|       0|        0|
+----------+--------+---------+

In [ ]:
#Checking for missing values in the dataframe
TitleMaster_df.select(
    [count(when(col(c).isNull(), c)).alias(c) for c in TitleMaster_df.columns]
).show()

+---------+----------------+
|TitleCode|TitleDescription|
+---------+----------------+
|        0|               1|
+---------+----------------+

In [ ]:
#dropping the column with missing values
TitleMaster_df = TitleMaster_df.dropna(subset=["TitleDescription"])

In [ ]:
TitleMaster_df.select(
    [count(when(col(c).isNull(), c)).alias(c) for c in TitleMaster_df.columns]
).show()

+---------+----------------+
|TitleCode|TitleDescription|
+---------+----------------+
|        0|               0|
+---------+----------------+

In [ ]:
#extract and convert the cvs into dataframe using spark
nycpayroll2020_df = spark.read.csv(r'datasets\nycpayroll_2020.csv', header=True, inferSchema=True)
nycpayroll2021_df = spark.read.csv(r'datasets\nycpayroll_2021.csv', header=True, inferSchema=True)

In [ ]:
nycpayroll2020_df.show(5)
nycpayroll2021_df.show(5)

+----------+-------------+--------+--------------------+----------+----------+---------+---------------+-------------------+---------+--------------------+---------------------+----------+---------+------------+----------------+-------+-----------+-------------+
|FiscalYear|PayrollNumber|AgencyID|          AgencyName|EmployeeID|  LastName|FirstName|AgencyStartDate|WorkLocationBorough|TitleCode|    TitleDescription|LeaveStatusasofJune30|BaseSalary| PayBasis|RegularHours|RegularGrossPaid|OTHours|TotalOTPaid|TotalOtherPay|
+----------+-------------+--------+--------------------+----------+----------+---------+---------------+-------------------+---------+--------------------+---------------------+----------+---------+------------+----------------+-------+-----------+-------------+
|      2020|           17|    2120|OFFICE OF EMERGEN...|     10001|    GEAGER| VERONICA|      9/12/2016|           BROOKLYN|    40447|EMERGENCY PREPARE...|               ACTIVE|   86005.0|per Annum|      1820.0|        84698.21|    0.0|        0.0|          0.0|
|      2020|           17|    2120|OFFICE OF EMERGEN...|    149612|     ROTTA| JONATHAN|      9/16/2013|           BROOKLYN|    40447|EMERGENCY PREPARE...|               ACTIVE|   86005.0|per Annum|      1820.0|        84698.21|    0.0|        0.0|          0.0|
|      2020|           17|    2120|OFFICE OF EMERGEN...|    206583| WILSON II|   ROBERT|      4/30/2018|           BROOKLYN|    40447|EMERGENCY PREPARE...|               ACTIVE|   86005.0|per Annum|      1820.0|        84698.21|    0.0|        0.0|          0.0|
|      2020|           17|    2120|OFFICE OF EMERGEN...|    199874|WASHINGTON|   MORIAH|      3/18/2019|           BROOKLYN|    40447|EMERGENCY PREPARE...|               ACTIVE|   86005.0|per Annum|      1820.0|        87900.95|    0.0|        0.0|     -3202.74|
|      2020|           17|    2120|OFFICE OF EMERGEN...|     58036|  KRAWCZYK|   AMANDA|      5/15/2017|           BROOKLYN|    40447|EMERGENCY PREPARE...|               ACTIVE|   86005.0|per Annum|      1820.0|        83976.54|    0.0|        0.0|          0.0|
+----------+-------------+--------+--------------------+----------+----------+---------+---------------+-------------------+---------+--------------------+---------------------+----------+---------+------------+----------------+-------+-----------+-------------+
only showing top 5 rows

+----------+-------------+----------+--------------------+----------+-----------+---------+---------------+-------------------+---------+-------------------+---------------------+----------+---------+------------+----------------+-------+-----------+-------------+
|FiscalYear|PayrollNumber|AgencyCode|          AgencyName|EmployeeID|   LastName|FirstName|AgencyStartDate|WorkLocationBorough|TitleCode|   TitleDescription|LeaveStatusasofJune30|BaseSalary| PayBasis|RegularHours|RegularGrossPaid|OTHours|TotalOTPaid|TotalOtherPay|
+----------+-------------+----------+--------------------+----------+-----------+---------+---------------+-------------------+---------+-------------------+---------------------+----------+---------+------------+----------------+-------+-----------+-------------+
|      2021|          996|      2153|NYC HOUSING AUTHO...|    209184|MUSTACIUOLO|     VITO|      2/26/2018|          MANHATTAN|    40475| EXECUTIVE DIRECTOR|               ACTIVE|  258000.0|per Annum|        1820|        257260.3|    0.0|        0.0|     258000.0|
|      2021|          996|      2153|NYC HOUSING AUTHO...|    302330|       RUSS|  GREGORY|      8/12/2019|          MANHATTAN|    41143|              CHAIR|               ACTIVE|  414707.0|per Annum|        1820|       413518.05|    0.0|        0.0|        500.0|
|      2021|          816|      2129|DEPT OF HEALTH/ME...|     49788|   HALLAHAN|  PATRICK|      2/26/2018|           BROOKLYN|    40782|STATIONARY ENGINEER|               ACTIVE|     508.8|  per Day|        2080|        132288.0|2115.25|  218628.18|     56616.07|
|      2021|          816|      2129|DEPT OF HEALTH/ME...|    251626|     PETTIT|  PATRICK|       8/2/2010|          MANHATTAN|    40782|STATIONARY ENGINEER|               ACTIVE|     508.8|  per Day|        2080|        132288.0|2152.75|  218694.96|     38611.82|
|      2021|          816|      2129|DEPT OF HEALTH/ME...|    364376|   TELEHANY|  STEPHEN|      1/16/2007|             QUEENS|    40782|STATIONARY ENGINEER|               ACTIVE|     508.8|  per Day|        2080|        132288.0|1876.25|  192296.19|      51160.2|
+----------+-------------+----------+--------------------+----------+-----------+---------+---------------+-------------------+---------+-------------------+---------------------+----------+---------+------------+----------------+-------+-----------+-------------+
only showing top 5 rows

In [ ]:
# Convert column names to lowercase and remove extra spaces
nycpayroll2020_df = nycpayroll2020_df.toDF(*[col.lower().strip() for col in nycpayroll2020_df.columns])
nycpayroll2021_df = nycpayroll2021_df.toDF(*[col.lower().strip() for col in nycpayroll2021_df.columns])

# Check if columns match
payroll2020 = set(nycpayroll2020_df.columns)
payroll2021 = set(nycpayroll2021_df.columns)

if payroll2020 != payroll2021:
    print("Columns do not match! Fixing column differences...")
    print("Extra columns in 2020:", payroll2020 - payroll2021)
    print("Extra columns in 2021:", payroll2021 - payroll2020)
else:
    print("Columns match, ready to merge.")

Columns do not match! Fixing column differences...
Extra columns in 2020: {'agencyid'}
Extra columns in 2021: {'agencycode'}

#### The above function shows there are missing columns in each dataset payroll2020 & payroll2021, We will proceed to merge both dataset into one

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit

# Initialize Spark Session
spark = SparkSession.builder.appName("Merge DataFrames").getOrCreate()

# Standardizing column names (convert to lowercase and remove spaces)
nycpayroll2020_df = nycpayroll2020_df.toDF(*[col.lower().strip() for col in nycpayroll2020_df.columns])
nycpayroll2021_df = nycpayroll2021_df.toDF(*[col.lower().strip() for col in nycpayroll2021_df.columns])

# Get column sets for each DataFrame
payroll2020 = set(nycpayroll2020_df.columns)
payroll2021 = set(nycpayroll2021_df.columns)

# Identify extra columns in each dataset
# Columns in 2020 but not in 2021
extra_2020columns = list(payroll2020 - payroll2021) 
    
# Columns in 2021 but not in 2020
extra_2021columns = list(payroll2021 - payroll2020)  

# Add missing columns with NULL values
for col_name in extra_2020columns:
    nycpayroll2021_df = nycpayroll2021_df.withColumn(col_name, lit(None))  

for col_name in extra_2021columns:
    nycpayroll2020_df = nycpayroll2020_df.withColumn(col_name, lit(None))  

# Ensure both DataFrames have the same column order
common_columns = sorted(payroll2020.union(payroll2021))  
nycpayroll2020_df = nycpayroll2020_df.select(common_columns)  
nycpayroll2021_df = nycpayroll2021_df.select(common_columns)  

# Merge both DataFrames
mergedpayroll_df = nycpayroll2020_df.unionByName(nycpayroll2021_df)

# Show merged dataset
mergedpayroll_df.show()

+----------+--------+--------------------+---------------+----------+----------+---------+----------+-------------+---------------------+-------+---------+-------------+----------------+------------+---------+--------------------+-------------+-----------+-------------------+
|agencycode|agencyid|          agencyname|agencystartdate|basesalary|employeeid|firstname|fiscalyear|     lastname|leavestatusasofjune30|othours| paybasis|payrollnumber|regulargrosspaid|regularhours|titlecode|    titledescription|totalotherpay|totalotpaid|worklocationborough|
+----------+--------+--------------------+---------------+----------+----------+---------+----------+-------------+---------------------+-------+---------+-------------+----------------+------------+---------+--------------------+-------------+-----------+-------------------+
|      NULL|    2120|OFFICE OF EMERGEN...|      9/12/2016|   86005.0|     10001| VERONICA|      2020|       GEAGER|               ACTIVE|    0.0|per Annum|           17|        84698.21|      1820.0|    40447|EMERGENCY PREPARE...|          0.0|        0.0|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|      9/16/2013|   86005.0|    149612| JONATHAN|      2020|        ROTTA|               ACTIVE|    0.0|per Annum|           17|        84698.21|      1820.0|    40447|EMERGENCY PREPARE...|          0.0|        0.0|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|      4/30/2018|   86005.0|    206583|   ROBERT|      2020|    WILSON II|               ACTIVE|    0.0|per Annum|           17|        84698.21|      1820.0|    40447|EMERGENCY PREPARE...|          0.0|        0.0|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|      3/18/2019|   86005.0|    199874|   MORIAH|      2020|   WASHINGTON|               ACTIVE|    0.0|per Annum|           17|        87900.95|      1820.0|    40447|EMERGENCY PREPARE...|     -3202.74|        0.0|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|      5/15/2017|   86005.0|     58036|   AMANDA|      2020|     KRAWCZYK|               ACTIVE|    0.0|per Annum|           17|        83976.54|      1820.0|    40447|EMERGENCY PREPARE...|          0.0|        0.0|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|      12/1/2014|   86005.0|    104393|  JALEESA|      2020|      MURRELL|               ACTIVE|    0.0|per Annum|           17|        83877.36|      1820.0|    40447|EMERGENCY PREPARE...|          0.0|        0.0|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|      6/30/2014|  236088.0|    186781|   JOSEPH|      2020|     ESPOSITO|               CEASED|    0.0|per Annum|           17|         2716.38|        21.0|    40285|COMMISSIONER OF E...|     80141.89|        0.0|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|      6/27/2016|   86005.0|    149700|    CAROL|      2020|        CHANG|               ACTIVE|   15.0|per Annum|           17|        81887.99|      1820.0|    40447|EMERGENCY PREPARE...|        29.97|     679.33|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|     11/20/2017|   83791.0|    121565|  MICHAEL|      2020|    BEILINSON|               ACTIVE|    0.0|per Annum|           17|        82517.67|      1820.0|    40447|EMERGENCY PREPARE...|          0.0|        0.0|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|       1/4/2016|   83791.0|    141167|     TODD|      2020|    CALLENDER|               ACTIVE|    0.0|per Annum|           17|        82517.67|      1820.0|    40447|EMERGENCY PREPARE...|          0.0|        0.0|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|       4/6/2015|   73049.0|    123132|   JUSTIN|      2020|      BENNETT|               ACTIVE| 175.25|per Annum|           17|        71938.89|      1820.0|    40448|EMERGENCY PREPARE...|        120.1|    8786.47|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|     10/10/2017|   66603.0|     97057|  CHERISE|      2020|     MOHAMMED|               ACTIVE|  352.0|per Annum|           17|        64110.28|      1820.0|    40448|EMERGENCY PREPARE...|        26.71|   16667.92|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|     11/26/2018|   68751.0|    155154| SAMANTHA|      2020|     CLEMENTS|               ACTIVE|  237.0|per Annum|           17|        67706.51|      1820.0|    40448|EMERGENCY PREPARE...|       566.13|   11332.32|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|      9/27/2010|   71231.0|    115541|  JILLIAN|      2020|OSORIO-SUAREZ|               ACTIVE|  32.25|per Annum|           17|         70148.5|      1820.0|    40448|EMERGENCY PREPARE...|      6860.54|    1314.22|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|       1/3/2017|   73317.0|     96376|  MATTHEW|      2020|     MITCHELL|               ACTIVE|  113.5|per Annum|           17|        72203.21|      1820.0|    40448|EMERGENCY PREPARE...|       458.37|    5643.55|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|       3/4/2019|   67980.0|    143597|    KAYLI|      2020|      CAPSHAW|               ACTIVE|  216.0|per Annum|           17|        66947.11|      1820.0|    40448|EMERGENCY PREPARE...|        469.3|   10630.76|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|     12/10/2018|   73049.0|    181023|  AMINATA|      2020|      DUMBUYA|               ACTIVE|  127.0|per Annum|           17|        70352.18|      1820.0|    40448|EMERGENCY PREPARE...|       431.81|    6574.12|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|       3/5/2018|   59083.0|    152023|  MICHAEL|      2020|  CHIRICHELLA|               ACTIVE|  395.5|per Annum|           17|        58185.25|      1820.0|    40448|EMERGENCY PREPARE...|       252.14|   17255.06|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|      9/12/2016|   66603.0|    158677| BRITTANY|      2020|     SCHILIRO|               ACTIVE| 199.25|per Annum|           17|        65591.04|      1820.0|    40448|EMERGENCY PREPARE...|        324.4|    9713.85|           BROOKLYN|
|      NULL|    2120|OFFICE OF EMERGEN...|      5/28/2017|   66603.0|    135408|  TASHAWN|      2020|        BROWN|               ACTIVE|  192.0|per Annum|           17|        65591.04|      1820.0|    40448|EMERGENCY PREPARE...|        769.6|    8757.41|           BROOKLYN|
+----------+--------+--------------------+---------------+----------+----------+---------+----------+-------------+---------------------+-------+---------+-------------+----------------+------------+---------+--------------------+-------------+-----------+-------------------+
only showing top 20 rows

In [ ]:
mergedpayroll_df.columns

#number of columns
num_cols = len(mergedpayroll_df.columns)
print('The number of columns are:', num_cols)

#number of rows
num_rows = mergedpayroll_df.count()

print('The number of rows are:', num_rows)

print(f'The shape of the dataframe mergedpayroll_df: ({num_rows}, {num_cols})')

The number of columns are: 20
The number of rows are: 201
The shape of the dataframe mergedpayroll_df: (201, 20)

In [ ]:
mergedpayroll_df.printSchema()

root
 |-- agencycode: integer (nullable = true)
 |-- agencyid: integer (nullable = true)
 |-- agencyname: string (nullable = true)
 |-- agencystartdate: string (nullable = true)
 |-- basesalary: double (nullable = true)
 |-- employeeid: integer (nullable = true)
 |-- firstname: string (nullable = true)
 |-- fiscalyear: integer (nullable = true)
 |-- lastname: string (nullable = true)
 |-- leavestatusasofjune30: string (nullable = true)
 |-- othours: double (nullable = true)
 |-- paybasis: string (nullable = true)
 |-- payrollnumber: integer (nullable = true)
 |-- regulargrosspaid: double (nullable = true)
 |-- regularhours: double (nullable = true)
 |-- titlecode: integer (nullable = true)
 |-- titledescription: string (nullable = true)
 |-- totalotherpay: double (nullable = true)
 |-- totalotpaid: double (nullable = true)
 |-- worklocationborough: string (nullable = true)

### Data Cleaning

In [ ]:
#Check and count for null values
for column in mergedpayroll_df.columns:
    print(column, 'Nulls', mergedpayroll_df.filter(mergedpayroll_df[column].isNull()).count())

agencycode Nulls 100
agencyid Nulls 101
agencyname Nulls 0
agencystartdate Nulls 0
basesalary Nulls 0
employeeid Nulls 0
firstname Nulls 0
fiscalyear Nulls 0
lastname Nulls 0
leavestatusasofjune30 Nulls 0
othours Nulls 0
paybasis Nulls 0
payrollnumber Nulls 0
regulargrosspaid Nulls 0
regularhours Nulls 0
titlecode Nulls 0
titledescription Nulls 0
totalotherpay Nulls 0
totalotpaid Nulls 0
worklocationborough Nulls 0

In [ ]:
#Filling the null values
mergedpayroll_df = mergedpayroll_df.fillna(
    {"agencycode": 0, 
     "agencyid": 0
    })

In [ ]:
#confirming no null values
for column in mergedpayroll_df.columns:
    print(column, 'Nulls', mergedpayroll_df.filter(mergedpayroll_df[column].isNull()).count())

agencycode Nulls 0
agencyid Nulls 0
agencyname Nulls 0
agencystartdate Nulls 0
basesalary Nulls 0
employeeid Nulls 0
firstname Nulls 0
fiscalyear Nulls 0
lastname Nulls 0
leavestatusasofjune30 Nulls 0
othours Nulls 0
paybasis Nulls 0
payrollnumber Nulls 0
regulargrosspaid Nulls 0
regularhours Nulls 0
titlecode Nulls 0
titledescription Nulls 0
totalotherpay Nulls 0
totalotpaid Nulls 0
worklocationborough Nulls 0

In [ ]:
#checking and removing duplicate values
mergedpayroll_df = mergedpayroll_df.dropDuplicates()

In [ ]:
# Convert date columns to proper format (replace 'date_column' with actual column)
mergedpayroll_df = mergedpayroll_df.withColumn("agencystartdate", to_date(col("agencystartdate"), "MM/dd/yyyy"))

#convert columns to interger from strings
mergedpayroll_df = mergedpayroll_df.withColumn("basesalary", col("basesalary").cast("int"))
mergedpayroll_df = mergedpayroll_df.withColumn("agencycode", col("agencycode").cast("int"))
mergedpayroll_df = mergedpayroll_df.withColumn("agencyid", col("agencyid").cast("int"))
mergedpayroll_df = mergedpayroll_df.withColumn("employeeid", col("employeeid").cast("int"))

from pyspark.sql.functions import col

# Convert string columns to numeric types
mergedpayroll_df = (
    mergedpayroll_df
    .withColumn("fiscalyear", col("fiscalyear").cast("int"))
    .withColumn("othours", col("othours").cast("double"))
    .withColumn("payrollnumber", col("payrollnumber").cast("int"))
    .withColumn("regulargrosspaid", col("regulargrosspaid").cast("double"))
    .withColumn("regularhours", col("regularhours").cast("double"))
    .withColumn("titlecode", col("titlecode").cast("int"))
    .withColumn("totalotherpay", col("totalotherpay").cast("double"))
    .withColumn("totalotpaid", col("totalotpaid").cast("double"))
)

# Show schema after changes
mergedpayroll_df.printSchema()

root
 |-- agencycode: integer (nullable = false)
 |-- agencyid: integer (nullable = false)
 |-- agencyname: string (nullable = true)
 |-- agencystartdate: date (nullable = true)
 |-- basesalary: integer (nullable = true)
 |-- employeeid: integer (nullable = true)
 |-- firstname: string (nullable = true)
 |-- fiscalyear: integer (nullable = true)
 |-- lastname: string (nullable = true)
 |-- leavestatusasofjune30: string (nullable = true)
 |-- othours: double (nullable = true)
 |-- paybasis: string (nullable = true)
 |-- payrollnumber: integer (nullable = true)
 |-- regulargrosspaid: double (nullable = true)
 |-- regularhours: double (nullable = true)
 |-- titlecode: integer (nullable = true)
 |-- titledescription: string (nullable = true)
 |-- totalotherpay: double (nullable = true)
 |-- totalotpaid: double (nullable = true)
 |-- worklocationborough: string (nullable = true)

In [ ]:
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")


mergedpayroll_df.show(5)

+----------+--------+--------------------+---------------+----------+----------+---------+----------+---------+---------------------+-------+---------+-------------+----------------+------------+---------+--------------------+-------------+-----------+-------------------+
|agencycode|agencyid|          agencyname|agencystartdate|basesalary|employeeid|firstname|fiscalyear| lastname|leavestatusasofjune30|othours| paybasis|payrollnumber|regulargrosspaid|regularhours|titlecode|    titledescription|totalotherpay|totalotpaid|worklocationborough|
+----------+--------+--------------------+---------------+----------+----------+---------+----------+---------+---------------------+-------+---------+-------------+----------------+------------+---------+--------------------+-------------+-----------+-------------------+
|         0|    2120|OFFICE OF EMERGEN...|     2013-09-16|     86005|    149612| JONATHAN|      2020|    ROTTA|               ACTIVE|    0.0|per Annum|           17|        84698.21|      1820.0|    40447|EMERGENCY PREPARE...|          0.0|        0.0|           BROOKLYN|
|         0|    2120|OFFICE OF EMERGEN...|     2015-04-06|     73049|    123132|   JUSTIN|      2020|  BENNETT|               ACTIVE| 175.25|per Annum|           17|        71938.89|      1820.0|    40448|EMERGENCY PREPARE...|        120.1|    8786.47|           BROOKLYN|
|         0|    2120|OFFICE OF EMERGEN...|     2020-04-13|     75197|    176308|  ANTONIO|      2020|  DIMARCO|               ACTIVE|  204.5|per Annum|           17|        14381.95|       350.0|    40448|EMERGENCY PREPARE...|         14.4|   10917.33|           BROOKLYN|
|         0|    2120|OFFICE OF EMERGEN...|     2016-01-04|     83791|    141167|     TODD|      2020|CALLENDER|               ACTIVE|    0.0|per Annum|           17|        82517.67|      1820.0|    40447|EMERGENCY PREPARE...|          0.0|        0.0|           BROOKLYN|
|         0|    2120|OFFICE OF EMERGEN...|     2017-05-15|     86005|     58036|   AMANDA|      2020| KRAWCZYK|               ACTIVE|    0.0|per Annum|           17|        83976.54|      1820.0|    40447|EMERGENCY PREPARE...|          0.0|        0.0|           BROOKLYN|
+----------+--------+--------------------+---------------+----------+----------+---------+----------+---------+---------------------+-------+---------+-------------+----------------+------------+---------+--------------------+-------------+-----------+-------------------+
only showing top 5 rows

In [ ]:
mergedpayroll_df.printSchema()

root
 |-- agencycode: integer (nullable = false)
 |-- agencyid: integer (nullable = false)
 |-- agencyname: string (nullable = true)
 |-- agencystartdate: date (nullable = true)
 |-- basesalary: integer (nullable = true)
 |-- employeeid: integer (nullable = true)
 |-- firstname: string (nullable = true)
 |-- fiscalyear: integer (nullable = true)
 |-- lastname: string (nullable = true)
 |-- leavestatusasofjune30: string (nullable = true)
 |-- othours: double (nullable = true)
 |-- paybasis: string (nullable = true)
 |-- payrollnumber: integer (nullable = true)
 |-- regulargrosspaid: double (nullable = true)
 |-- regularhours: double (nullable = true)
 |-- titlecode: integer (nullable = true)
 |-- titledescription: string (nullable = true)
 |-- totalotherpay: double (nullable = true)
 |-- totalotpaid: double (nullable = true)
 |-- worklocationborough: string (nullable = true)

In [ ]:
#datetime parser
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

mergedpayroll_df.show(5)

+----------+--------+--------------------+---------------+----------+----------+---------+----------+---------+---------------------+-------+---------+-------------+----------------+------------+---------+--------------------+-------------+-----------+-------------------+
|agencycode|agencyid|          agencyname|agencystartdate|basesalary|employeeid|firstname|fiscalyear| lastname|leavestatusasofjune30|othours| paybasis|payrollnumber|regulargrosspaid|regularhours|titlecode|    titledescription|totalotherpay|totalotpaid|worklocationborough|
+----------+--------+--------------------+---------------+----------+----------+---------+----------+---------+---------------------+-------+---------+-------------+----------------+------------+---------+--------------------+-------------+-----------+-------------------+
|         0|    2120|OFFICE OF EMERGEN...|     2013-09-16|     86005|    149612| JONATHAN|      2020|    ROTTA|               ACTIVE|    0.0|per Annum|           17|        84698.21|      1820.0|    40447|EMERGENCY PREPARE...|          0.0|        0.0|           BROOKLYN|
|         0|    2120|OFFICE OF EMERGEN...|     2015-04-06|     73049|    123132|   JUSTIN|      2020|  BENNETT|               ACTIVE| 175.25|per Annum|           17|        71938.89|      1820.0|    40448|EMERGENCY PREPARE...|        120.1|    8786.47|           BROOKLYN|
|         0|    2120|OFFICE OF EMERGEN...|     2020-04-13|     75197|    176308|  ANTONIO|      2020|  DIMARCO|               ACTIVE|  204.5|per Annum|           17|        14381.95|       350.0|    40448|EMERGENCY PREPARE...|         14.4|   10917.33|           BROOKLYN|
|         0|    2120|OFFICE OF EMERGEN...|     2016-01-04|     83791|    141167|     TODD|      2020|CALLENDER|               ACTIVE|    0.0|per Annum|           17|        82517.67|      1820.0|    40447|EMERGENCY PREPARE...|          0.0|        0.0|           BROOKLYN|
|         0|    2120|OFFICE OF EMERGEN...|     2017-05-15|     86005|     58036|   AMANDA|      2020| KRAWCZYK|               ACTIVE|    0.0|per Annum|           17|        83976.54|      1820.0|    40447|EMERGENCY PREPARE...|          0.0|        0.0|           BROOKLYN|
+----------+--------+--------------------+---------------+----------+----------+---------+----------+---------+---------------------+-------+---------+-------------+----------------+------------+---------+--------------------+-------------+-----------+-------------------+
only showing top 5 rows

In [ ]:
mergedpayroll_df.columns

['agencycode',
 'agencyid',
 'agencyname',
 'agencystartdate',
 'basesalary',
 'employeeid',
 'firstname',
 'fiscalyear',
 'lastname',
 'leavestatusasofjune30',
 'othours',
 'paybasis',
 'payrollnumber',
 'regulargrosspaid',
 'regularhours',
 'titlecode',
 'titledescription',
 'totalotherpay',
 'totalotpaid',
 'worklocationborough']

In [ ]:
#agencytable
agency_df = mergedpayroll_df.select('agencycode','agencyid','agencyname','agencystartdate')
agency_df.show(2)

Emp_df = mergedpayroll_df.select('employeeid','firstname','lastname')
Emp_df.show(2)

Title_df = mergedpayroll_df.select('titlecode','titledescription')
Title_df.show(2)

+----------+--------+--------------------+---------------+
|agencycode|agencyid|          agencyname|agencystartdate|
+----------+--------+--------------------+---------------+
|         0|    2120|OFFICE OF EMERGEN...|     2013-09-16|
|         0|    2120|OFFICE OF EMERGEN...|     2015-04-06|
+----------+--------+--------------------+---------------+
only showing top 2 rows

+----------+---------+--------+
|employeeid|firstname|lastname|
+----------+---------+--------+
|    149612| JONATHAN|   ROTTA|
|    123132|   JUSTIN| BENNETT|
+----------+---------+--------+
only showing top 2 rows

+---------+--------------------+
|titlecode|    titledescription|
+---------+--------------------+
|    40447|EMERGENCY PREPARE...|
|    40448|EMERGENCY PREPARE...|
+---------+--------------------+
only showing top 2 rows

In [ ]:
#adding the title_id column
from pyspark.sql.functions import monotonically_increasing_id

Title_df = Title_df.withColumn('title_id', monotonically_increasing_id())

#rearrange the columns
Title_df = Title_df.select('title_id','titlecode','titledescription')

Title_df.show(4)

+--------+---------+--------------------+
|title_id|titlecode|    titledescription|
+--------+---------+--------------------+
|       0|    40447|EMERGENCY PREPARE...|
|       1|    40448|EMERGENCY PREPARE...|
|       2|    40448|EMERGENCY PREPARE...|
|       3|    40447|EMERGENCY PREPARE...|
+--------+---------+--------------------+
only showing top 4 rows

In [ ]:
#ensure all tables are well ordered
agency_df = agency_df.select('agencyid','agencycode','agencyname','agencystartdate')
agency_df.show(2)

Emp_df.show(2)

Title_df.show(2)

+--------+----------+--------------------+---------------+
|agencyid|agencycode|          agencyname|agencystartdate|
+--------+----------+--------------------+---------------+
|    2120|         0|OFFICE OF EMERGEN...|     2013-09-16|
|    2120|         0|OFFICE OF EMERGEN...|     2015-04-06|
+--------+----------+--------------------+---------------+
only showing top 2 rows

+----------+---------+--------+
|employeeid|firstname|lastname|
+----------+---------+--------+
|    149612| JONATHAN|   ROTTA|
|    123132|   JUSTIN| BENNETT|
+----------+---------+--------+
only showing top 2 rows

+--------+---------+--------------------+
|title_id|titlecode|    titledescription|
+--------+---------+--------------------+
|       0|    40447|EMERGENCY PREPARE...|
|       1|    40448|EMERGENCY PREPARE...|
+--------+---------+--------------------+
only showing top 2 rows

In [ ]:
#fact table
facts_table = mergedpayroll_df.join(agency_df,['agencyid','agencycode','agencyname','agencystartdate'], 'left')\
                             .join(Emp_df,['employeeid','firstname','lastname'], 'left')\
                             .join(Title_df,['titlecode','titledescription'])\
                             .select('agencyid','employeeid','title_id','basesalary','fiscalyear','leavestatusasofjune30', 'othours', 'paybasis', 'payrollnumber',\
                                      'regulargrosspaid','regularhours','totalotherpay','totalotpaid','worklocationborough')

In [ ]:
facts_table.show(3)

+--------+----------+--------+----------+----------+---------------------+-------+---------+-------------+----------------+------------+-------------+-----------+-------------------+
|agencyid|employeeid|title_id|basesalary|fiscalyear|leavestatusasofjune30|othours| paybasis|payrollnumber|regulargrosspaid|regularhours|totalotherpay|totalotpaid|worklocationborough|
+--------+----------+--------+----------+----------+---------------------+-------+---------+-------------+----------------+------------+-------------+-----------+-------------------+
|    2120|    149612|      92|     86005|      2020|               ACTIVE|    0.0|per Annum|           17|        84698.21|      1820.0|          0.0|        0.0|           BROOKLYN|
|    2120|    149612|      89|     86005|      2020|               ACTIVE|    0.0|per Annum|           17|        84698.21|      1820.0|          0.0|        0.0|           BROOKLYN|
|    2120|    149612|      86|     86005|      2020|               ACTIVE|    0.0|per Annum|           17|        84698.21|      1820.0|          0.0|        0.0|           BROOKLYN|
+--------+----------+--------+----------+----------+---------------------+-------+---------+-------------+----------------+------------+-------------+-----------+-------------------+
only showing top 3 rows

In [ ]:
Agency_pd_df = agency_df.toPandas()
Emp_pd_df = Emp_df.toPandas()
Title_pd_df = Title_df.toPandas()
facts_table_pd_df = facts_table.toPandas()

In [ ]:
print(Agency_pd_df.head(2))
print(Emp_pd_df.head(2))
print(Title_pd_df.head(2))
print(facts_table_pd_df.head(2))

   agencyid  agencycode                      agencyname agencystartdate
0      2120           0  OFFICE OF EMERGENCY MANAGEMENT      2013-09-16
1      2120           0  OFFICE OF EMERGENCY MANAGEMENT      2015-04-06
   employeeid firstname lastname
0      149612  JONATHAN    ROTTA
1      123132    JUSTIN  BENNETT
   title_id  titlecode                   titledescription
0         0      40447     EMERGENCY PREPAREDNESS MANAGER
1         1      40448  EMERGENCY PREPAREDNESS SPECIALIST
   agencyid  employeeid  title_id  basesalary  fiscalyear  \
0      2120      149612        92       86005        2020
1      2120      149612        89       86005        2020

  leavestatusasofjune30  othours   paybasis  payrollnumber  regulargrosspaid  \
0                ACTIVE      0.0  per Annum             17          84698.21
1                ACTIVE      0.0  per Annum             17          84698.21

   regularhours  totalotherpay  totalotpaid worklocationborough
0        1820.0            0.0          0.0            BROOKLYN
1        1820.0            0.0          0.0            BROOKLYN

In [ ]:
print(type.Agency_pd_df())

AttributeError: type object 'type' has no attribute 'Agency_pd_df'

In [ ]:
!pip install psycopg2-binary sqlalchemy apache-airflow

In [ ]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\abiol\.conda\envs\nycpayrollenv\lib\site-packages (2.9.10)

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pandas as pd

# Define database connection parameters
db_params = {
    'username': 'postgres',
    'password': '030611',  # Ensure this is correct
    'host': 'localhost',
    'port': '5432',
    'database': 'nycpayroll'
}

# Use the psycopg2 driver by including it in the URL
db_url = f"postgresql+psycopg2://{db_params['username']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}"

# Create the database if it doesn't exist
if not database_exists(db_url):
    create_database(db_url)
    print("Database created.")

# Create the SQLAlchemy engine
engine = create_engine(db_url, echo=True)  # Enable echo for debugging

# Double-check if DataFrames exist before writing to SQL
if 'Agency_pd_df' in locals() and isinstance(Agency_pd_df, pd.DataFrame):
    Agency_pd_df.to_sql('agency', con=engine, index=False, if_exists='replace')
else:
    print("Error: Agency_pd_df is not defined or not a DataFrame.")

if 'Emp_pd_df' in locals() and isinstance(Emp_pd_df, pd.DataFrame):
    Emp_pd_df.to_sql('employee', con=engine, index=False, if_exists='replace')
else:
    print("Error: Emp_pd_df is not defined or not a DataFrame.")

if 'Title_pd_df' in locals() and isinstance(Title_pd_df, pd.DataFrame):
    Title_pd_df.to_sql('title', con=engine, index=False, if_exists='replace')
else:
    print("Error: Title_pd_df is not defined or not a DataFrame.")

if 'facts_table_pd_df' in locals() and isinstance(facts_table_pd_df, pd.DataFrame):
    facts_table_pd_df.to_sql('fact_table', con=engine, index=False, if_exists='replace')
else:
    print("Error: facts_table_pd_df is not defined or not a DataFrame.")

print('Database, tables, and data loaded successfully')

In [ ]:
import sqlalchemy
import psycopg2
print(sqlalchemy.__version__)  # Should print version (e.g., '1.4.39' or higher)
print(psycopg2.__version__)  # Should print version (e.g., '2.9.3' or higher)

1.4.54
2.9.10 (dt dec pq3 ext lo64)

In [ ]:
pip install SQLAlchemy psycopg2 pandas

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# Database connection parameters
db_params = {
    'username': 'postgres',
    'password': '030611',
    'host': 'localhost',
    'port': '5432',
    'database': 'nycpayroll'
}

# Use the correct connection string (adding `psycopg2`)
db_url = f"postgresql+psycopg2://{db_params['username']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}"

# Create SQLAlchemy engine
try:
    engine = create_engine(db_url)
    print("✅ Successfully connected to the database.")
except Exception as e:
    print(f"❌ Connection Error: {e}")
    exit()

# Ensure DataFrames exist
dataframes = {
    'agency': Agency_pd_df,
    'employee': Emp_pd_df,
    'title': Title_pd_df,
    'fact_table': facts_table_pd_df
}

# Use engine directly instead of connection
try:
    for table_name, df in dataframes.items():
        if isinstance(df, pd.DataFrame):  # Ensure it's a DataFrame
            df.to_sql(table_name, con=engine, index=False, if_exists='replace', method='multi')
            print(f"✅ Loaded {table_name} successfully.")
        else:
            print(f"⚠️ Warning: {table_name} is not a DataFrame.")

    print('✅ All tables loaded successfully.')

except Exception as e:
    print(f"❌ Error occurred: {e}")

✅ Successfully connected to the database.
❌ Error occurred: 'Engine' object has no attribute 'cursor'

C:\Users\abiol\AppData\Local\Temp\ipykernel_19652\3717063597.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(table_name, con=engine, index=False, if_exists='replace', method='multi')